.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    -fx-background-color: #007B8A; 
    -fx-text-fill: #ffffff; 
    -fx-border-radius: 5px; 
    -fx-padding: 10px 20px; 
}

.button:hover {
    -fx-background-color: #005F6B; 
}

.button:pressed {
    -fx-background-color: #004C56; 
}

.button-cancel {
    -fx-background-color: #D9534F;
    -fx-text-fill: #ffffff;
}

.button-cancel:hover {
    -fx-background-color: #C9302C; 
}

.button-cancel:pressed {
    -fx-background-color: #AC2925; 
}