.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: #333333;
}